* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f4f8;
  font-family: Arial, sans-serif;
  color: #222;
}

.app {
  text-align: center;
  padding: 20px;
}


h1 {
  font-size: 2.5rem;
  margin-bottom: 100px;
  text-decoration: underline;
  color: #2c3e50;
}


.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
  margin: 20px auto;
  background: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.card {
  padding: 15px;
  border-right: 1px solid #ddd;
  transition: 0.3s;
}

.card:last-child {
  border-right: none;
}


.card:hover {
  background: #eaf3ff;
}


.card h3 {
  font-size: 14px;
  color: #555;
}

.card p {
  font-size: 20px;
  font-weight: bold;
}

.pass-card {
  color: #2ecc71;
}

.fail-card {
  color: #e74c3c;
}

.form input {
  padding: 8px;
  margin: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
}

button {
  padding: 8px 14px;
  border: none;
  background: #3498db;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2980b9;
}


table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  background: white;
}

th {
  background: #3498db;
  color: white;
  padding: 10px;
}

td {
  padding: 10px;
  border-top: 1px solid #ddd;
}


tr:hover {
  background: #f1f7ff;
}


.pass {
  color: #27ae60;
  font-weight: bold;
}

.fail {
  color: #c0392b;
  font-weight: bold;
}